@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    padding: 0;
    margin: 0;
    background: black;
    color: rgb(201, 195, 186);
    padding: 5px
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
}

button {
    margin: 10px;
    border-radius: 10px;
    background: whitesmoke;
    cursor: pointer;
    color: rgb(20, 20, 20);
    min-width: 80px;
    font-weight: bold;
}

.col {
    display: flex;
    flex-direction: column;
}

.container-form {
    height: 200px;
    width: 400px;
}

.form {
    justify-content: space-between;
    height: 70%;
}

button:disabled {
    background: rgb(160, 158, 158);
    border-color: rgb(160, 158, 158);
    cursor: default;
}

hr {
    padding: 0px;
}

.title {
    font-family: 'Irish Grover', cursive;
}
